:root {
    --main-color: whitesmoke;
    --number-button-bg: #435B66;
    --number-button-active: #557482;
    --operator-button-bg: #A76F6F;
    --operator-button-active: #c38080;
    --edit-button-bg: #eab3a087;
    --edit-button-active: #eab3a0ab;
}

body {
    font-family: sans-serif;
    background-color: #19242e;
    color: var(--main-color)
}

div {
    border-radius: 2px;
}

.calculator {
    background-color: #2d4356;;
    display: grid;
    margin: auto;
    padding: 1rem;
    width: 250px;
    height: 300px;
    border: 1px solid var(--main-color);
    margin-top: 100px;
    grid-template-areas: 
        'display display display display'
        'clear clear delete negative'
        'seven eight nine divide'
        'four five six multiply'
        'one two three subtract'
        'decimal zero equals add';
    grid-template-columns: auto;
    gap: 10px;
}

.button {
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.display {
    background-color: var(--number-button-bg);
    grid-area: display;
    margin-top: 0px;
    border: 1px solid var(--main-color);
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px;
    font-size: 1.5rem;
}

.operator {
    background-color: var(--operator-button-bg);
}

.operator:active {
    background-color: var(--operator-button-active);
}

.number, #decimal, #equals {
    background-color: var(--number-button-bg);
}

.number:active, #decimal:active, #equals:active {
    background-color: var(--number-button-active);
}

#clear, #negative, #delete {
    background-color: var(--edit-button-bg);
}

#clear:active, #negative:active, #delete:active {
    background-color: var(--edit-button-active);
}

#clear{
    grid-area: clear;
}

#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiply;
}

#subtract {
    grid-area: subtract;
}

#add {
    grid-area: add;
}

#decimal {
    grid-area: decimal;
}

#delete {
    grid-area: delete;
}

#negative {
    grid-area: negative;
}

#equals {
    grid-area: equals;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}
